body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;

}
.login
{
   width: 430px;
   height: 700px;
   background-color:white;
   border-color: black;
   border-radius: 10px;
   text-align: center;
   
}
.login > h1{
    user-select: none;
    font-family: "Lato", sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: 600px;
    text-align: center;
    color: #333;
    margin-top: 40px;
    

}

.google-button{
    width: 370px;
    height: 53px;
    color: black;
    background-color: white;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 9px;
    font-weight:bolder;
    margin-top: 10px;
}

.google-button:hover{
    cursor: pointer;
}

.google-button > img{
    width: 21px;
    margin-left: -46px;
    position: absolute;
}

.login-or{
    display: block;
    height: 60px;
    width: 100%;
    font-size: 18px;
    line-height: 88px;
    color: #666;


}

.input{
    width: 370px;
    height: 53px;
    color: black;
    background-color: white;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 9px;
    margin-top: 20px;
    margin-left: 5px;
    box-sizing: border-box;


}

.input :focus{
    border:solid 2px #0d99ff;
    font-family: "Lato", sans-serif;
}

.f-checkbox{
    margin-top: 30px;
    width: 395px;
    height: 18px;
    margin-left: -299px;
}

.f-tipsandup{
    margin-top: -24px;
    margin-left: 25px;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    
}

.submit-btn{
    width: 370px;
    height: 53px;
    color: white;
    background-color:#000;
    font-family: "Lato", sans-serif;
    font-size: 19px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 9px;
    margin-top: 0;
    margin-left: 5px;
    box-sizing: border-box;

}
.terms-f{
    width:300px;
    font-family: "Lato" ,sans-serif;
    font-size: 10px;
    margin-left: 60px;
    color: #333;
}

a
{
    color:#0d99ff;
    text-decoration: none;
    font-weight: bold;
}
 .consent-f{
    width:346px;
    font-family: "Lato" ,sans-serif;
    font-size: 10px;
    margin-left: 42px;
    color: #333;
 }

 .logged-in{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin-left: -76px;
    color: #333;
    font-weight: bold;

 }
 .login-{
    margin-top: -35px;
    margin-left: 60px;
    font-size: 18px;
    position: absolute;
   
 }
@media screen and (max-width:600px) {
    
    
}
